*{
    font-family: "Ubuntu"
}

body{
    background-color: hsl(217, 100%, 97%);
}

#div_main{
    background-color: white;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 400px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#div_1{
    background-image: url("assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 195px;
    height: 100%;
    border-radius: 12px;
}

#div_step{
    position: relative;
    top: 28px;
    left: 22px;
}

.step{
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
}

.btn_step{
    border-radius: 100%;
    height: 28px;
    width: 28px;
    color: hsl(231, 100%, 99%);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid hsl(231, 100%, 99%);
}

.btn_step_active{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
    border-radius: 100%;
    height: 28px;
    width: 28px;
    border: 0px solid white;
}

.div_step_p{
    margin-left: 12px;
}

.p_step{
    font-size: 10px;
    color: hsl(228, 11%, 72%);
    margin: 0%;
}

.p_info_step{
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px;
}

#div_2{
    height: 100%;
    width: 62%;
}

.title_div_2{
    color: hsl(213, 96%, 18%);
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 0%;
}

.p_title_div_2{
    font-size: 14px;
    margin-top: 10px;
    color: hsl(231, 11%, 63%);
}

#div_2_input{
    display: flex;
    flex-direction: column;
    padding-right: 85px;
    margin-top: 28px;
}

.div_label{
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

label{
    color: hsl(213, 96%, 18%);
    font-size: 12px;
    font-weight: 500;
}

.p_required{
    color: hsl(354, 84%, 57%);
    font-size: 12px;
    font-weight: 600;
    margin: 0%;
}

.input_name{
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 5px;
    height: 28px;
    color: hsl(213, 96%, 18%);
    font-weight: 500;
    font-size: 14px;
    padding: 4px;
    padding-left: 15px;
    margin-bottom: 16px;
}

.input_name:focus{
    outline: none;
    border: 1.4px solid hsl(243, 100%, 62%);
}

.input_name::placeholder{
    font-size: 14px;
    color: hsl(231, 11%, 63%);
}

#div_2_btn{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 85px;
}

#btn_next{
    background-color: hsl(213, 96%, 18%);
    color: hsl(217, 100%, 97%);
    border: 0px;
    border-radius: 6px;
    height: 40px;
    padding: 0px 18px;
    font-size: 12px;
}

#btn_next:hover{
    background-color: hsl(213, 94%, 25%);
}


/*2 eme pages*/

#div_select_plan{
    margin-top: 40px;
}

#div_plan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
}

.plan{
    border: 0.03cm solid hsl(229, 24%, 87%);
    border-radius: 6px;
    width: 100px;
    padding: 4px;
}

.plan:hover{
    border: 0.03cm solid hsl(243, 100%, 62%);
}









#color_test{
    background-color: hsl(213, 96%, 18%);
    color: hsl(243, 100%, 62%);
    background: hsl(228, 100%, 84%);
    border: 1px solid hsl(206, 94%, 87%);
    background: hsl(354, 84%, 57%);
    background-color: hsl(231, 11%, 63%);
    background-color: hsl(229, 24%, 87%);
    background-color: hsl(217, 100%, 97%);
    background-color: hsl(231, 100%, 99%);
}